
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primaria: #E9C071;
    --secundaria: #e8a96f;
    --escuro: #271c09;
    --maisEscuro: #1c160a;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    scroll-behavior: smooth;

}

body {

    background-color: var(--escuro);
    color: var(--claro);


}

.particulas {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.5;
    background: radial-gradient(circle at 10% 20% , var(--primaria) 0%, transparent 20%)
    ,
    radial-gradient(circle at 90% 80% , var(--secundaria) 0%, transparent 20%)
    ,
    var(--maisEscuro );
}

.navegacao {
    position: fixed;
    top: 0;
    background-color: rgba(42, 33, 15, 0.8);
    width: 100%;
    z-index: 100;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 3rem;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;

}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria) , var(--secundaria));
    transition: width 0.5s ease;


}

.menu-link:hover::after {
    width: 100%;

}

.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.foto-perfil {

    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(79, 70, 70, 0.3);
    border-radius: 50%;
    border: 4px solid var(--vidro);
    object-fit: cover;
    animation: flutuar 5s ease-in-out infinite;
}

h1{

    font-size: 3.5rem;
    color: var(--primaria);
    font-weight: bold;
    margin: 20px;
}

.subtitulo {
    font-size: 1.5rem;
    color: var(--claro);
}

.sobre {
    padding: 6rem 2rem;

}

.sobre-titulo{

    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 20px;
}

.sobre-caixa {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);

}

.sobre-paragrafo {
    text-align: justify;
    font-size: 1rem;
    
}

.projetos {
    padding: 6rem , 2rem;
    margin-top: 400px;

}

.projetos-caixa {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px , 1fr) );
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;

}

.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;
}



.projetos-card {

    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    cursor: pointer;


}

.projetos-card:hover {

    box-shadow: 0 10px 20px rgba(229, 181, 70, 0.2);
    transform: translateY(-10px) scale(1.03);
    transition: all 0.5s ease;
}



.projetos-imagem {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.paragrafo-projetos {


}

.caixa-texto-projeto {

    padding: 1.5rem;
}

.info-projetos {

  margin-bottom: 5px;


}

.btn-form{

    color: var(--claro);
    background: linear-gradient(45deg , var(--primaria) , var(--secundaria));
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
}

.btn-form:hover {

    transform: translateY(-4px);
    box-shadow: 0 0 10px rgba(229, 181, 70, 0.2)
}

footer{

    margin-top: 200px;
}

.contatos-titulo {

    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 50px;


}

.formulario-contato {

    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;

}


.campo-form {
    width: 100%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
    outline: none;


}

.campo-form:focus {

    border-color: var(--secundaria);
    box-shadow: 0 0 10px rgba(229, 181, 70, 0.2);
}

.grupo-form {
    margin-bottom: 1.5rem;

}

@keyframes flutuar {

    0%, 100% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-20px);
    }
    
}
